body {
  background-color: #1C1C1E;
  font-family: Poppins, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
.container {
  padding: 20px;
  max-width: 390px;
  margin: auto;
}
h1 {
  font-size: 28px;
  margin-bottom: 24px;
}
#input-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}
button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #E64556;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.card {
  border-radius: 16px;
  background-color: white;
  color: black;
  padding: 16px;
  margin-top: 16px;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.valor-grande {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}
.descricao {
  text-align: center;
}
.destaque {
  background-color: #E64556;
  color: white;
}
.botao {
  width: 100%;
  margin-top: 32px;
}